<!DOCTYPE html>
<html>

<head>

<title>Gesture Volume Control</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<h1>Gesture Volume Control</h1>

<div class="buttons">

<button onclick="startCamera()">Start</button>
<button onclick="stopCamera()">Stop</button>

</div>

<h2>Webcam Preview</h2>

<div class="cam">

<img id="video" width="500">

</div>

<h2>Volume : <span id="vol">0</span>%</h2>

<div class="bar">

<div id="progress"></div>

</div>

<script src="/static/script.js"></script>

</body>

</html>